<h2><%= t(".comment_list") %></h2>

<table>
  <thead>
    <tr>
      <th><%= Comment.human_attribute_name :user_commenting %></th>
      <th><%= Comment.human_attribute_name :body %></th>
      <th><%= Comment.human_attribute_name :created_at %></th>
      <% if @user == current_user %>
        <th colspan="2"></th>
      <% end %>      
    </tr>
  </thead>

  <tbody>
        <th><% commentable.comments.each do |comment| %></th>
        <tr>
          <th><%= comment.user_id %></th>
          <th><%= comment.body %></th>
          <th><%= I18n.l(comment.created_at) %></th>
          <td data-test="user-<%= current_user.id %>">
            <% if comment.user_id == current_user.id %>
              <%= link_to t("views.common.edit"), [:edit, commentable, comment] %>
              <%= link_to t("views.common.destroy"), [commentable, comment], method: :delete, data: { confirm: t(".are_you_sure?") } %>
            <% end %>
          </td>
        </tr>
        <% end %>
  </tbody>
</table>

<%= form_with(model: [commentable, Comment.new], local: true) do |form| %>
  <%= form.label :body %>
  <%= form.text_area :body %><br>
  <%= form.submit %>
<% end %>
