<h2><%= t(".comment_list") %></h2>

<table>
  <thead>
    <tr>
      <th><%= Comment.human_attribute_name :user_commenting %></th>
      <th><%= Comment.human_attribute_name :body %></th>
      <th><%= Comment.human_attribute_name :created_at %></th>
    </tr>
  </thead>

  <tbody>
        <th><% commentable.comments.each do |comment| %></th>
        <tr>
        <th><%= comment.user_id %></th>
        <th><%= comment.body %></th>
        <th><%= comment.created_at%></th>
        </tr>
        <% end %>
  </tbody>
</table>

<%= form_with model: [commentable, Comment.new] do |form| %>
  <%= form.text_area :body %><br>
  <%= form.submit %>
<% end %>
