<p id="notice"><%= notice %></p>

<h1><%= t(".comments") %></h1>

<table>
  <thead>
    <tr>
      <th><%= Comment.human_attribute_name :body %></th>
      <th><%= Comment.human_attribute_name :commentable %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= comment.commentable_id %></td>
        <td><%= link_to t("views.common.show"), comment %></td>
        <td><%= link_to t("views.common.edit"), edit_comment_path(comment) %></td>
        <td><%= link_to t("views.common.destroy"), comment, method: :delete, data: { confirm: '.are_you_sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
