<h1><%= t("users") %></h1>
<table>
  <thead>
    <tr>
      <th><%= t("id") %></th>
      <th><%= t("name") %></th>
      <th><%= t("email") %></th>
      <th><%= t("follow") %></th>
      <th><%= t("following_list") %></th>
      <th><%= t("follower_list") %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <% if user == current_user %>
           <td>-----</td>
        <% else %>
          <% if current_user.following?(user) %>
            <td><%= link_to t("do_unfollow"), unfollow_path(user.id), method: :post %></td>
          <% else %>
            <td><%= link_to t("do_follow"), follow_path(user.id), method: :post %></td>
          <% end %>
        <% end %>
        <td><%= link_to t("following_list"), following_user_path(user.id) %></td>
        <td><%= link_to t("follower_list"), follower_user_path(user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
<%= page_entries_info @users%>
