<% if user_signed_in? %>
<h1><%= t("users") %></h1>

<table>
  <thead>
    <tr>
      <th><%= t("id") %></th>
      <th><%= t("name") %></th>
      <th><%= t("email") %></th>
      <th><%= t("follow") %></th>  
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>

        <% if current_user.following?(user) %>
          <td><%= link_to t("dounfollow"), unfollow_path(user.id), method: :POST %></td>
        <% else %>
          <td><%= link_to t("dofollow"), follow_path(user.id), method: :POST %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% end %>
