<h1><%= t(".users") %></h1>

<table>
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th><%= t("email") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# <%= link_to t(".new_book"), new_book_path %>

<%# <%= paginate @books %> %>
<%# <%= page_entries_info @books%> %>
