<p><%= t("name") %>：<%= current_user.name %></p>
<% if @user.avatar.attached? %>
  <p><%= image_tag @user.avatar , width: 150%></p>
<% end %>

<% if @user == current_user %>
  <h1><%= t("my_page") %></h1>
    <p><%= t("name") %>：<%= current_user.name %></p>
    <p><%= t("email") %>：<%= current_user.email %></p>
    <p><%= t("zip") %>：<%= current_user.zip %></p>
    <p><%= t("address") %>：<%= current_user.address %></p>
    <p><%= t("profile") %>：<%= current_user.profile %></p>
    <%= link_to t("edit") , edit_user_registration_path %> 
<% else %>
  <p><%= t("name") %>：<%= @user.name %></p>
  <p><%= t("email") %>：<%= @user.email %></p>
  <p><%= t("zip") %>：<%= @user.zip %></p>
  <p><%= t("address") %>：<%= @user.address %></p>
  <p><%= t("profile") %>：<%= @user.profile %></p>
<% end %>

<h2><%= t("all_books") %></h2>
  <table>
    <thead>
      <tr>
        <th><%= t("title") %></th>
        <th><%= t("memo") %></th>
        <th><%= t("author") %></th>
      </tr>
    </thead>

    <tbody>
      <% @usersbooks.each do |userbook| %>
        <tr>
          <td><%= userbook.title %></td>
          <td><%= userbook.memo %></td>
          <td><%= userbook.author %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to t("new_book"), new_book_path %>
<%= paginate @usersbooks %>
<%= page_entries_info @usersbooks%>

<h2><%= t("following_users") %></h2>
  <p><%= t("followed_users_number") %><%= @user.followed_user.count %></p>
  <% @user.followed_user.each do |user| %>
    <p><%= link_to user.name, user %></p>
  <% end %>

<h2><%= t("followed_users") %></h2>
  <p><%= t("follower_users_number") %><%= @user.follower_user.count %></p>
  <% @user.follower_user.each do |user| %>
    <p><%= link_to user.name, user %></p>
  <% end %>
